/Advanced-Android-MOOC-OpenGL/*.iml
/Advanced-Android-MOOC-OpenGL/.gradle
/Advanced-Android-MOOC-OpenGL/local.properties
/Advanced-Android-MOOC-OpenGL/.idea/libraries
/Advanced-Android-MOOC-OpenGL/.idea/modules.xml
/Advanced-Android-MOOC-OpenGL/.idea/workspace.xml
/Advanced-Android-MOOC-OpenGL/.DS_Store
/Advanced-Android-MOOC-OpenGL/build
/Advanced-Android-MOOC-OpenGL/captures
/Advanced-Android-MOOC-OpenGL/.externalNativeBuild
